@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Neucha&family=Rubik+Glitch&family=Slabo+27px&family=Titillium+Web:wght@300&display=swap');
    /* font-family: 'Rubik Glitch', cursive; [spacial font] */
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Neucha&family=PT+Sans&family=Rubik+Glitch&family=Slabo+27px&family=Titillium+Web:wght@300&display=swap');
    /* font-family: 'PT Sans', sans-serif; [main font] */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cuprum&family=Hurricane&family=Neucha&family=PT+Sans&family=Rubik+Glitch&family=Slabo+27px&family=Titillium+Web:wght@300&display=swap');
    /* font-family: 'Cuprum', sans-serif; [header and footer font] */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cuprum&family=Hurricane&family=Neucha&family=PT+Sans&family=Rubik+Glitch&family=Signika:wght@700&family=Slabo+27px&family=Titillium+Web:wght@300&display=swap');
    /* font-family: 'Signika', sans-serif; [headings] */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cuprum&family=Hurricane&family=Neucha&family=PT+Sans&family=Rubik+Glitch&family=Signika:wght@700&family=Slabo+27px&family=Titillium+Web:wght@300&display=swap');
    /* font-family: 'Titillium Web', sans-serif; [contact-buttons */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
    /* font-family: 'Source Serif Pro', serif; */

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}
/* --------------------------- */
#topBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px 0px;
    border-radius: 4px;
    width: 50px;
}

#topBtn:hover {
    background-color: royalblue;
    color: black;
    font-weight: bold;
}
/* --------------------------- */

.header {
    font-family: 'Cuprum', sans-serif;
    background-color: rgb(231, 229, 229);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
}

        .prem-logo {
            max-width: 100%;
            min-width: 100%;
            height: auto;
        }
        
        .navi {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;   
        }

            .navi a {
                text-decoration: none;
                color: royalblue;
            }

                .navi-link {
                    margin: 0px 8px;
                }

                .navi a:link {
                    font-size: 20px;
                    color: royalblue;
                    background-color: rgb(231, 229, 229);
                    padding: 2px;
                    border-radius: 5px;
                    transition: background-color .3s;
                }
                .navi a:hover {
                    background-color: rgb(201, 196, 196);
                    -webkit-transform: scale(1.25, 1.25);
                    transform: scale(1.25, 1.25);
                }

/* --------------------------- */

.container-4 {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px;
}

        .contactLeft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 500px;
        }

            .premIcon-l {
                width: 100px;
            }

            .address {
                text-align: center;
            }

                .address-content {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                }

                #addressText {
                    font-family: 'Cuprum', sans-serif;
                    font-size: 20px;
                    padding: 0;
                }

                    .addIcon {
                        width: 50px;
                    }

                    
                .socialNetwork {
                    display: flex;
                    gap: 16px;
                    margin: 16px 0px 16px 0px;
                }

                    .socialIcon {
                        width: 50px;
                        border-radius: 8px;
                    }

                        .socialIcon:hover {
                            opacity: 0.7;
                        }

        .contactRight {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            padding: 32px 0px;
        }

            .work-with-us {
                display: flex;
                flex-direction: column;
                /* justify-content: center; */
                align-items: center;
                gap: 20px;
            }

                .contact-button {
                    padding: 0px 16px;
                    text-align: start;
                    font-family: 'Titillium Web', sans-serif;
                    width: 400px;
                }

                    .contact-title {
                        font-size: 42px;
                        font-weight: bolder;
                    }

                    .contact-text {
                        font-size: 20px;
                        font-weight: bold;
                    }

                    .contact-content {
                        background-color: rgba(187, 183, 183, 0.616);
                        border-radius: 5px;
                    }

                            .contact-content:hover {
                                background-color: #3e8e41;
                                color: white;
                                transition: 0.1s;
                                }

                    .contact-button {
                        border: none;
                        padding: 16px 32px;
                        text-align: center;
                        margin: 4px 2px;
                      }

                            #work-with-us {
                                background-image: url(../images/work-with-us.jpg);
                                
                                border-radius: 5px;
                            }

                            #hire-us {
                                background-image: url(../images/hire-us.jpg);
                                border-radius: 5px;
                            }

/* --------------------------- */
        
.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
font-family: 'Cuprum', sans-serif;
padding: 16px 96px;
background-color: rgb(216, 213, 213);
}

.prem-foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer-icon {
    width: 40px;
}

    .dk {
        text-decoration: none;
        padding: 8px;
        border-radius: 8px;
        color: black;
        font-weight: bold;
    }

    .dk:hover {
        background-color: rgb(235, 123, 32);
        -webkit-transform: scale(1.25, 1.25);
        transform: scale(1.25, 1.25);
        transition: background-color 0.5s;
    }

/* --------------------------- */

.left-container,
.right-container {
/* width: 100%; */
color: rgb(231, 231, 231);
}

/* --------------------------- */

.about-us-banner{
    background-position: center;
    display: flex;
    justify-content: center;
}


.prem-about-us {
    background-color: white;
    display: flex;
    flex-direction: column;
}

        .head-prem-about {
            font-family: 'Source Serif Pro', serif;
        }

.prem-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prem-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.premAbout-banner {
    border-radius: 3px;
    width: 100%;
    box-shadow: 0 20px 20px -6px #777;
    -webkit-box-shadow: 0 20px 20px -6px #777;
    -moz-box-shadow: 0 20px 20px -6px #777;
    transition: .3s;
}
    .premAbout-banner:hover {
        transition: .3s;
        box-shadow: 0 15px 30px #000;
        }

.prem-about-right{
    max-width: 550px;
    font-size: 18px;
}

.prem-about-left,
.prem-about-right {
    /* border: solid; */
    padding: 8px;
}

big {
    font-weight: bold;
}

.man-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    margin-bottom: 32px;
}


.man-team-1, 
.group-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    box-shadow: 0 20px 20px -6px #777;
    -webkit-box-shadow: 0 20px 20px -6px #777;
    -moz-box-shadow: 0 20px 20px -6px #777;
    transition: .3s;
}
    .man-team-1:hover,
    .group-team:hover{
        transition: .3s;
        box-shadow: 0 15px 30px #000;
    }

        .man-team-pic {
            width: 100%;
        }

.group-team {
    margin-bottom: 32px;
}

        .group-team-pic {
            width: 100%;
        }

.team-text {
    text-align: center;
}

.team {
    width: 75%;
}
/* ------------------ */
